@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
